.body {
  box-sizing: border-box;
  margin: 0;
  background: #0c0c0c;
}
.circular-slider {
  margin: 27px auto 50px;

  width: 85.2%;
  box-sizing: border-box;
  background: #0c0c0c;
  border: solid red 1px;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  /* font-weight: 600;
  font-size: 21px;
  line-height: 27px; */
  /* letter-spacing: 0.03em;
  text-transform: uppercase; */
}
.circular-slider__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  max-width: 312px;
  margin: 0 auto 44px;
}
.circular-slider__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  max-width: 312px;
  text-transform: uppercase;
  text-align: center;
  /* border: solid red 1px; */
  margin: auto;
}
.slider{
  border: solid red 1px;
  margin: auto;
  width: 100%;
}
.circular-slider__img{
  display: block;
  margin: auto;
  border: solid red 1px;
}